<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets async="true">
		<!-- write logs to file -->
		
			<target name="filelog" xsi:type="File"			       
			        maxArchiveDays="15"
					encoding="Utf-8"
					fileName="${basedir}/Logs/${shortdate}.log" 
					layout="${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />
	
		
		<target name="debugger" xsi:type="Debugger"
				layout="${date:format=HH\:mm\:ss} ${callsite:includeNamespace=False} | ${level:uppercase=true:padding=-5} | ${message:exceptionSeparator=\r\n:withException=true}" />
	</targets>
			
	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="*" minlevel="Info" writeTo="filelog"/>
		<!--输出到VS窗口, 用户看不到这个-->
		<logger name="*" minlevel="TRACE" writeTo="debugger" />
	</rules>
</nlog>